---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import { RiAuctionLine } from 'react-icons/ri/index.js';
import { FiDollarSign } from 'react-icons/fi/index.js';
import { GiOilPump, GiMining, GiMedicines } from 'react-icons/gi/index.js';
import { BsAirplane, BsTruck, BsTools } from 'react-icons/bs/index.js';
import { SlEnergy } from 'react-icons/sl/index.js';
import { MdOutlineWarehouse, MdOutlineFastfood } from 'react-icons/md/index.js';
import { TbPackages } from 'react-icons/tb/index.js'

import workers from '../assets/Factory+People+2.jpg';
import banner from '../assets/gerrard_montage_3.jpg';

import liquidation from '../assets/liquidation-icon.png';
import appraisal from '../assets/appraisal-icon.png';
import retail from '../assets/retail-icon.png';
import demolition from '../assets/demolition-icon.png';
import consulting from '../assets/consulting-icon.png';
import fabrication from '../assets/fabrication-icon.png';
import cnc from '../assets/cnc-icon.png';
import yellow from '../assets/yellow-iron-icon.png';
import biotech from '../assets/biotech-icon.png';
import inventory from '../assets/inventory-icon.png';
---

<Layout title="Gerrard Group Inc"
    description="The Gerrard Machinery Company conducts professional industrial Auctions, Liquidations, Appraisals, Consulting Services and Used Machinery Sales." 
    canon="https://gerrardgroupinc.com/">
    <main>
        <section class="welcome">
            <div>
                <h1 class="welcome-text"><strong><span class="intro">Welcome to Gerrard Machinery Company</span></strong></h1><!--<span class="cursor">&nbsp;</span>-->
                <h2 class="moto-text"><strong><span class="moto">Buyer's and Sellers of Industrial Machinery and Equipment</span></strong></h2><!--<span class="cursor2">&nbsp;</span>-->
            </div>
            <Image 
                class="banner" 
                src={banner}
                height={banner.height}
                width={banner.width}
                alt="machines in a warehouse" 
                loading="eager"
                format="webp" 
            />
        </section>
        <section class="page-container">
            <div class="page-background">
                <article class="wrapper">
                    <Image 
                        class="img-workers" 
                        src={workers}
                        alt="people in a factory talking about machinery"
                        loading="eager"
                        format="webp" 
                    />
                    <div class="comp-info">
                        <h2><strong>About Gerrard Group / Gerrard Machinery Company</strong></h2>
                        <p><strong>Gerrard Group / Gerrard Machinery Company</strong> specializes in Auctions and 
                            Liquidations for a wide variety of Machinery, Equipment and other Assets.
                            Our used machinery division, <strong>Gerrard Machinery Company, LLC</strong>, buys and 
                            sells industrial machinery and equipment as a regular course of business. 
                            This diversity gives us a broader understanding of both the retail and 
                            wholesale markets which puts our clients at a huge advantage. This, along 
                            with our strategic partners around the country and abroad, our group is 
                            able to service a wide variety of business sectors.</p>
        
                        <p>In addition to Auctions and Liquidations, we provide Appraisal and 
                            Consulting Services to help determine <strong>highest possible returns</strong> of Company 
                            Assets. We are not a “High Volume” or “Cookie Cutter” company, we believe 
                            every project comes with its own needs and expectations. Our team has the 
                            knowledge, dedication and understanding you need.</p>
        
                        <p>Whether it’s a single piece of equipment, plant relocation, multiple 
                            facilities, or demolition projects, we are your trusted source. Talk to 
                            one of our team members to discuss how we can help.</p>
                    </div>
                </article>
            </div>
            <div class="desc-back">
                <article class="description">
                    <h2><strong>Gerrard Group / Gerrard Machinery Company Specializes In...</strong></h2>
                    <div class="specialties">
                        <div class="special-item">
                            <div class="img-container">
                                <RiAuctionLine/>
                            </div>
                            <p>Auctions</p>
                        </div>
                        <div class="special-item">
                            <div class="img-container">
                                <Image 
                                    src={liquidation}
                                    width="100"
                                    height="100"
                                    alt="liquidation icon"
                                    format="webp"
                                />
                            </div>
                            <p>Liquidation</p>
                        </div>
                        <div class="special-item">
                            <div class="img-container">
                                <Image 
                                    src={appraisal}
                                    width="100"
                                    height="100"
                                    alt="apprasials icon"
                                    format="webp"
                                />
                            </div>
                            <p>Appraisals</p>
                        </div>
                        <div class="special-item">
                            <div class="img-container">
                                <Image 
                                    src={retail}
                                    width="100"
                                    height="100"
                                    alt="retail icon"
                                    format="webp"
                                />
                            </div>
                            <p>Retail Used Machinery Sales</p>
                        </div>
                        <div class="special-item">
                            <div class="img-container">
                                <FiDollarSign/>
                            </div>
                            <p>Machinery & Equipment Buy and Sell Programs</p>
                        </div>
                        <div class="special-item">
                            <div class="img-container">
                                <Image 
                                    src={demolition}
                                    width="100"
                                    height="100"
                                    alt="demolition icon"
                                    format="webp"
                                />
                            </div>
                            <p>Demolition & Remediation Projects</p>
                        </div>
                        <div class="special-item">
                            <div class="img-container">
                                <Image 
                                    src={consulting}
                                    width="100"
                                    height="100"
                                    alt="consulting icon"
                                    format="webp"
                                />
                            </div>
                            <p>Consulting</p>
                        </div>
                    </div>
                </article>
                <article class="industries">
                    <h2><strong>Industries</strong></h2>
                    <div class="industries-wrapper">
                        <div class="industries-item">
                            <div class="img-container">
                                <Image 
                                    src={fabrication}
                                    width="100"
                                    height="100"
                                    alt="fabrication icon"
                                    format="webp"
                                />
                            </div>
                            <p>Fabricating, Metal, Rubber & Plastics Equip.</p>
                        </div>
                        <div class="industries-item">
                            <div class="img-container">
                                <Image 
                                    src={cnc}
                                    width="100"
                                    height="100"
                                    alt="cnc icon"
                                    format="webp"
                                />
                            </div>
                            <p>CNC & Robotics</p>
                        </div>
                        <div class="industries-item">
                            <div class="img-container">
                                <BsTools />
                            </div>
                            <p>Tooling & Support Equip.</p>
                        </div>
                        <div class="industries-item">
                            <div class="img-container">
                                <GiMining />
                            </div>
                            <p>Construction & Mining</p>
                        </div>
                        <div class="industries-item">
                            <div class="img-container">
                                <Image 
                                    src={yellow}
                                    width="100"
                                    height="100"
                                    alt="yellow iron icon"
                                    format="webp"
                                />
                            </div>
                            <p>Yellow Iron</p>
                        </div>
                        <div class="industries-item">
                            <div class="img-container">
                                <GiOilPump />
                            </div>
                            <p>Oil & Gas</p>
                        </div>
                        <div class="industries-item">
                            <div class="img-container">
                                <BsTruck />
                            </div>
                            <p>Transportation</p>
                        </div>
                        <div class="industries-item">
                            <div class="img-container">
                                <BsAirplane />
                            </div>
                            <p>Aerospace</p>
                        </div>
                        <div class="industries-item">
                            <div class="img-container">
                                <SlEnergy/>
                            </div>
                            <p>Energy Sector</p>
                        </div>
                        <div class="industries-item">
                            <div class="img-container">
                                <MdOutlineWarehouse />
                            </div>
                            <p>Warehouse & Support</p>
                        </div>
                        <div class="industries-item">
                            <div class="img-container">
                                <MdOutlineFastfood />
                            </div>
                            <p>Food & Beverage</p>
                        </div>
                        <div class="industries-item">
                            <div class="img-container">
                                <TbPackages />
                            </div>
                            <p>Pulp & Packaging</p>
                        </div>
                        <div class="industries-item">
                            <div class="img-container">
                                <Image 
                                    src={biotech}
                                    width="100"
                                    height="100"
                                    alt="biotech icon"
                                    format="webp"
                                />
                            </div>
                            <p>High-Tech & Biotech</p>
                        </div>
                        <div class="industries-item">
                            <div class="img-container">
                                <GiMedicines />
                            </div>
                            <p>Medical, Dental & Pharmaceutical</p>
                        </div>
                        <div class="industries-item">
                            <div class="img-container">
                                <Image 
                                    src={inventory}
                                    width="100"
                                    height="100"
                                    alt="inventory icon"
                                    format="webp"
                                />
                            </div>
                            <p>Raw, WIP & Finished Inventories (used for, or made from mfg. equipment)</p>
                        </div>
                    </div>
                </article>
                <section class="locations">
                    <h3><strong>Offices Located In:</strong></h3>
                    <ul>
                        <li>St. Louis, MO</li>
                        <li>Chicago, IL</li>
                        <li>Spokane, WA</li>
                    </ul>
                </section>
            </div>
        </section>
    </main>
</Layout>

<style is:inline>
    .banner {
	    width: 100%;
	    height: 400px;
	    opacity: 30%;
        border-bottom: 1px solid rgba(35,39,47,1);
    }

    .welcome {
        text-align: center;
        position: relative;
    }

    .welcome div {
        display: grid;
        justify-content: center;
        align-content: center;
        position: absolute;
        color: #003860;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        gap: .5rem;
        padding-inline: .5rem;
    }

    .welcome-text {
        font-size: clamp(1rem, 3.5vh, 3rem);
        margin: 0;
        overflow: hidden;
    }
    .moto-text {
        font-size: clamp(1rem, 3vh, 3rem);
        margin: 0;
    }

    /*.cursor {
        background-color: #003860;
    }

    .cursor2 {
        display: inline-block;
        width: 3px;
        background-color: #003860;
        margin-left: .1rem;
        animation: blink .8s infinite;
    }

    .cursor2.typing {
        animation: none;
    }*/

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        margin-block: 8rem;
        padding-inline: 1rem;
    }

    .gap {
        display: grid;
    }

    .wrapper h2 {
        font-size: clamp(1rem, 3.5vh, 3rem);
	    text-align: center;
	    color: #425abd;
        margin-bottom: 3rem;
    }

    .wrapper p {
        font-size: clamp(.5rem, 2.3vh, 2rem);
	    text-indent: 55px;
    }

    .comp-info {
        width: 80%;
        height: auto;
    }

    .comp-info h2 {
	    text-align: center;
	    color: #425abd;
        margin: 0;
    }

    .img-workers {
        width: 100%;
        max-width: 550px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0px 0px 30px -13px hsl(0, 0%, 0%);
    }

    .desc-back {
        text-align: center;
        border-top: 1px solid rgba(35,39,47,.1);
        background-image: conic-gradient(from 150deg at -10% 100%,#ffffff 120deg,#4860a2 90deg,hsl(216, 35%, 18%) 1turn);
    }

    .desc-back h2 {
        font-size: clamp(1rem, 3.5vh, 3rem);
	    color: rgb(255, 255, 255);
        text-shadow: .7px .7px #003860;
        margin: 0;
        margin-bottom: 3rem;
    }

    .desc-back img {
        width: 50px;
        height: auto;
    }

    .desc-back p {
        max-width: 97px;
        margin-inline: auto;
        color: white;
        font-size: clamp(.5rem, 1.1rem, 3rem);
    }

    .specialties svg, .industries svg {
        width: 50px;
        height: 50px;
    }
    
    .description {
        padding-inline: 1rem;
        margin: 5rem 0;
        margin-bottom: 8rem;
        max-width: 1200px;
        margin-inline: auto;
    }

    .specialties {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 1000px;
        margin-inline: auto;
        gap: 2rem;
        row-gap: .5rem;
    }

    .img-container {
        display: inline-flex;
        padding: 1.5rem;
        border-radius: 50%;
        background-image: linear-gradient(145deg,rgba(216, 216, 216, 0.6) 0%,rgb(255, 255, 255) 100%);
        box-shadow: 1px 1px 5px rgba(216, 216, 216, 0.6) inset, 0 7px 15px -5px #000000, 0 4px 6px -4px #ffffff;
    }

    .industries {
        max-width: 1000px;
        margin-inline: auto;
        margin-bottom: 8rem;
    }

    .industries-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-inline: 1rem;
        gap: 2rem;
        row-gap: .5rem;
    }

    .locations {
	    text-align: center;
	    padding-bottom: 5rem;
    }

    .locations h3 {
        font-size: clamp(1rem, 2.8vh, 3rem);
        margin: 0;
        margin-bottom: 1rem;
    	color: white;
    }

    .locations ul {
    	display: flex;
    	justify-content: center;
	    list-style: none;
        font-size: clamp(.5rem, 2.5vh, 3rem);
	    padding: 0;
	    margin: 0;
	    gap: 2rem;
    }

    .locations li {
        color: hsl(203, 100%, 91%);
	    font-size: clamp(.5rem, 2.2vh, 3rem);
	    font-weight: bold;
	    text-decoration: underline;
        text-underline-offset: 3px;
    }

    @media (max-width: 40rem) {
        .welcome {
            display: grid;
            align-items: normal;
            justify-content: normal;
            justify-items: center;
            align-content: center;
            padding: 0;
        }

        .welcome div {
            text-align: center;
            justify-items: center;
            padding-inline: 1rem;
        }

        .banner {
            height: 200px;
        }
	
	    .welcome-text {
		    font-size: clamp(1rem, 3vh, 5rem);
	    }
	
	    .moto-text {
		    font-size: clamp(.5rem, 2.5vh, 5rem);
	    }

        .wrapper {
            padding-inline: 1rem;
            margin-block: 2rem;
        }

        .wrapper h2 {
            font-size: 24px;
        }

        .comp-info {
            width: inherit;
            margin-top: 2rem;
        }

        .comp-info p {
            font-size: clamp(1rem, 2vh, 3rem);
            text-indent: 25px;
        }

        .img-workers {
            display: none;
        }

        .desc-back h2 {
            margin-top: 3rem;
        }

        .desc-back p {
            max-width: 88px;
        }

        .description {
            margin-top: 2rem;
        }

        .specialties {
            justify-content: center;
            gap: 2.5rem;
        }

        .specialties img, .industries img {
            width: 50px;
        }

        .specialties svg, .industries svg {
            width: 50px;
            height: 50px;
        }

        .img-container {
            padding: 1.2rem;
        }

        .industries {
            margin-bottom: 1rem;
        }

        .industries-wrapper {
            gap: 2.5rem;
        }

        .locations {
            padding: 3.5rem 0;
        }

        .locations h2 {
            font-size: clamp(.5rem, 5.5vw, 3rem);
        }

        .locations ul {
            gap: 1rem;
        }

        .locations ul li {
            font-size: clamp(.5rem, 4vw, 3rem);
        }
    }

    @media (min-width: 60rem) and (max-width: 70rem) {
        .welcome-text {
            font-size: clamp(1rem, 3vh, 5rem);
            margin: 0;
            overflow: hidden;
        }

        .moto-text {
            font-size: clamp(1rem, 3vh, 5rem);
            margin: 0;
        }

        .wrapper {
            display: block;
            margin-inline: 1rem;
        }

        .comp-info {
            width: inherit;
            margin-top: 3rem;
        }

        .comp-info h2 {
            font-size: clamp(.5rem, 2.8vw, 2rem);
        }

        .comp-info p {
            font-size: clamp(.5rem, 1.8vh, 1.5rem);
        }

        .img-workers {
            float: left;
            max-width: 300px;
            margin-right: .8rem;
        }
    }

    @media (min-width: 40rem) and (max-width: 60rem) {
       .welcome {
            display: grid;
            align-items: normal;
            justify-content: normal;
            justify-items: center;
            align-content: center;
            padding: 0;
            gap: .5rem;
        }

        .welcome div {
            text-align: center;
            justify-items: center;
            padding-inline: 1rem;
            top: 0;
        }

        .welcome-text {
            font-size: clamp(1rem, 3vh, 5rem);
            margin: 0;
            overflow: hidden;
        }

        .moto-text {
            font-size: clamp(1rem, 3vh, 5rem);
            margin: 0;
        }

        .wrapper {
            display: block;
            margin-inline: 1rem;
        }

        .comp-info {
            width: inherit;
            margin-top: 3rem;
        }

        .comp-info h2 {
            font-size: clamp(.5rem, 2.8vw, 2rem);
        }

        .comp-info p {
            font-size: clamp(.5rem, 1.8vh, 1.5rem);
        }

        .img-workers {
            float: left;
            max-width: 300px;
            margin-right: .8rem;
        }
    }

    @media only screen and (orientation: landscape) and (min-width: 40rem) and (max-width: 60rem) {
        .welcome-text {
            font-size: clamp(1rem, 6.5vh, 5rem);
        }

        .moto-text {
            font-size: clamp(.5rem, 6vh, 5rem);
        }

        .banner {
		    height: 150px;
	    }

        .wrapper {
            padding-inline: 1rem;
            margin-top: 2rem;
        }

        .wrapper h2 {
            font-size: 24px;
            margin-top: 0;
            margin-bottom: 3rem;
        }

        .industries {
            margin-bottom: 2rem;
        }

        .img-workers {
            max-width: 250px;
        }

        .comp-info {
            width: inherit;
            margin-top: 3rem;
        }

        .comp-info h2 {
            font-size: clamp(.5rem, 2.5vw, 2rem);
        }

        .comp-info p {
            font-size: clamp(.5rem, 2.8vh, 2rem);
            text-indent: 25px;
        }

        .img-workers {
            float: left;
            max-width: 250px;
            margin-right: 10px;
        }

        .locations {
            padding: 2.5rem 0;
        }

        .locations h2 {
            font-size: clamp(1rem, 7vw, 3rem);
        }

        .locations ul {
            gap: 1rem;
        }

        .locations ul li {
            font-size: clamp(.5rem, 2.5vw, 3rem);
        }
    }

    @media (min-width: 1920px) {
        .banner {
            height: 450px;
        }
        
        .welcome {
            justify-content: space-around;
        }
        
        .page-container {
            padding-inline: 0;
        }

        .img-workers {
            width: 500px;
        }

        .wrapper {
            justify-content: center;
            align-items: center;
            gap: 3rem;
        }

        .comp-info {
            width: 60%;
        }
    }
</style>

<!--<script async type="text/javascript" defer="defer" is:inline>
    const typedTextSpan = document.querySelector(".intro");
    const cursor = document.querySelector(".cursor");
    const typedText = document.querySelector(".moto");
    const cursor2 = document.querySelector(".cursor2");

    const textArray = ["Welcome to Gerrard Machinery Company"];
    const titleArray = ["Buyer's and Sellers of Industrial Machinery and Equipment"];
    const typingDelay = 70;

    let textArrayIndex = 0;
    let charIndex = 0;

    let titleArrayIndex = 0;
    let charIndex2 = 0;

    function type() {
	    if(charIndex < textArray[textArrayIndex].length) {
	    	if(!cursor.classList.contains("typing")) cursor.classList.add("typing");
		    typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
		    charIndex++
		    setTimeout(type, typingDelay);
	    }
	    else {
		    cursor.classList.remove("typing");
	    }
    }

    function typer() {
	    if(charIndex2 < titleArray[titleArrayIndex].length) {
	    	if(!cursor2.classList.contains("typing")) cursor2.classList.add("typing");
	    	typedText.textContent += titleArray[titleArrayIndex].charAt(charIndex2);
		    charIndex2++
		    setTimeout(typer, typingDelay);
	    }
	    else {
	    	cursor2.classList.remove("typing");
	    }
    }

    document.addEventListener("DOMContentLoaded", function() {
	    if(textArray.length) setTimeout(type, typingDelay + 250);
	    if(titleArray.length) setTimeout(typer, typingDelay + 3700);
    });
</script>-->