---
import '../styles/Card.css';

export interface Props {
    name: string;
    body?: string;
    email?: string;
    phone?: string;
    imageURL?: string;
    href?: string;
    href2?: string;
    x_link?: string;
    alt?: string;
    btnName?: string;
    target?: string;
    srcset?: string;
}

const { name, body, email, phone, imageURL, href, href2, x_link, alt, btnName, target, srcset } = Astro.props as Props;
---

<article class="card-container">
    <div class="image-container">
        <picture>
            <source media="(max-width:40rem)" srcset={srcset}>
            <img loading="lazy" src={imageURL} alt={alt} />
        </picture>
    </div>
    <div class="card-content">
        <div class="card-title">
            <h2><a class="link-text" href={href} target="_blank">{name}</a></h2>
        </div>
        <div class="card-body">
            <p>{body}</p>
            <p class="catalog"><a href={href2} target="_blank"><strong>{x_link}</strong></a></p>
        </div>
        <div class="card-phone">
            <p><b>Phone:</b> <span>{phone}</span></p>
        </div>
        <div class="card-email">
            <p><b>Email:</b> <span>{email}</span></p>
        </div>
    </div>
    <div class="btn">
        <button>
            <a href={href} target={target}>
                {btnName}
            </a>
        </button>
    </div>
</article>