---
export interface Props {
    title: string;
    href: string;
    href2?: string;
    page: string;
    page2?: string;
}

const { title, href, href2, page, page2 } = Astro.props as Props;
---

<div class="page-directory">
    <h3 class="directory-title"><a href={href}>Liquidations & Surplus</a>	/	Machine Directory	/	<a class="href2" href={href2}>{page}</a>  <span>/</span>   {page2}</h3>
</div>
<div class="container">
    <h1 class="page-title">{title}</h1>
    <h2>*Details*</h2>
</div>

<style>
    .page-directory {
	    width: 100%;
	    height: auto;
	    background: #464646;
    }

    .page-title {
	    color: white;
        font-size: clamp(1rem, 4vh, 3rem);
    }

    h2 {
        color: white;
        font-size: clamp(1rem, 3.5vh, 3rem);
        margin: 0;
    }

    .directory-title {
        font-size: clamp(.5rem, 2.5vh, 3rem);
	    color: white;
	    padding: 15px 3rem;
	    margin: 0;
    }

    .directory-title a {
	    text-decoration: none;
	    color: white;
    }

    .directory-title a:hover {
	    text-decoration: underline;
    }

    .container {
	    width: 100%;
	    text-align: center;
	    background: #425abd;
	    padding: 30px;
    }

    .href2:hover {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    @media (max-width: 30rem) {
        .directory-title {
            text-align: center;
            font-size: clamp(.5rem, 2vh, 3rem);
            padding-inline: 0;
        }
    }
</style>