---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
    title: string;
	description?: string;
	title2: string;
	url: string;
	name: string;
	url2: string;
	title3: string;
	url3: string;
	canon: string;
}

const { title, description, title2, url, name, url2, title3, url3, canon } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{title}</title>
		<link rel="icon" type="image/png" href="../images/danny's logo.png">
		<meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">
		<meta http-equiv="Accept-CH" content="Sec-CH-UA-Platform-Version, Sec-CH-UA-Mode1">
		<meta charset="utf-8">
		<meta content="text/html" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content={description} />
		<link rel="canonical" href={canon}>
		<meta property="og:site_name" content="Gerrard Group Inc">
		<meta property="og:title" content={title2}>
		<meta property="og:url" content={url}>
		<meta property="og:type" content="website">
		<meta itemprop="name" content={name}>
		<meta itemprop="url" content={url2}>
		<meta name="twitter:title" content={title3}>
		<meta name="twitter:url" content={url3}>
		<meta name="twitter:card" content="summary">
		<meta name="format-detection" content="telephone=no">
		<script src="../scripts/BTT.js"></script>
		<script type="text/javascript" src="https://kit.fontawesome.com/e163b7e8b4.js" crossorigin="anonymous" defer="defer"></script>
	</head>
	<body>
		<main id="transition">
			<Header />
			<slot />
		</main>
		<Footer />
    </body>
</html>